venv
/data/input/*.pdf
/data/input/*.jpg
/data/out_mini/*.jpg
/data/out_txt/*.json

!/data/input/test.pdf
!/data/input/test.jpg
!/data/out_mini/test.pdf
!/data/out_mini/test.jpg
!/data/out_txt/test.jpg



